.main-highlight {
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondaryColor);
    border-radius: 8px;
}

.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 20px;
}

.main-arrow {
    font-size: 24px;
}

.back, .next {
    cursor: pointer;
}

.back:hover, .next:hover {
    color: var(--primaryColor);
}